<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>

  <system.diagnostics>
    <trace autoflush="true">
      <listeners>
        <add name="dynamo" type="Amazon.TraceListener.DynamoDBTraceListener, AWS.TraceListener"
                        Region="us-west-2"
                        ExcludeAttributes="Callstack"
                        HashKeyFormat="%ComputerName%-{EventType}-{ProcessId}"
                        RangeKeyFormat="{Time}"
          />
      </listeners>
    </trace>    
  </system.diagnostics>  
</configuration>